$mainHeader: #3F3F3F;
$mainOrange: #d59541;
$tableOrange: #ffc53f;
$mainGreen: #15ff00;
$darkGreen: #008c1c;
$mainGrey: #d8d8d8;
$mainBtn: #BB2212;

$tabelaSklop: #00ff00;
$tabelaObcina: #ffff00;
$tabelaProjekt: #ff0000;

$sirina1: 200px;