.zadetki-sklop {
	position: relative;
	display: block;
	min-width: 1000px;
	padding: 5px 5px 5px 5px;

	&__razlaga {
		padding: 5px 0;
		background-color: rgba($mainHeader, .3);
	}

	&__tabela {
		width: 100%;
		
		

	}
}